/* sub.css */
#map {
    background: #fff;
}

#map .map_header img {
    width: 100%;
}

#map .address {
    margin-top: 40px;
    margin-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
}

#map .address h3 {
    font-weight: 500;
    margin-top: 20px;
}

#map .address p {
    margin-top: 10px;
    font-weight: 300;
    font-size: 1em;
}

#map .map_link iframe {
 width: 100%;
 height: 480px;
 margin-bottom: 50px;
}

#greeting {
    background-image: url(../img/sub_back_img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#greeting .meet {
    margin-top: 20%;
}

#greeting .meet h1 {
    color: #fff;
    text-align: center;
    font-size: 1.8em;
    font-weight: 500;
    margin-bottom: 80px;
}

#greeting .meet p {
    color: #fff;
    text-align: center;
    font-size: 1em;
    font-weight: 300;
} 

#greeting .meet .small {
    margin-top: 50px;
    font-size: 0.9em;
    font-weight: 100;
}

#greeting .meet .box {
    position: relative;
    background: #fff;
    /* left: 170px; top: 550px; */
    left: 175px; top: 45px;
    width: 70px;
    height: 3px;
}

#greeting .meet .margin01 {
    margin-top: 80px;
    font-size: 1em;
    font-weight: 400;
}

#greeting .meet .margin02 {
    margin-top: 10px;
    font-weight: 100;
    font-size: 0.9em;
    font-family: 'Noto Sans KR', sans-serif;
}