/* sub.css */
/* 오시는길 */
#map {
    background: #fff;
}

#map .map_header img {
    width: 100%;
}

#map .address {
    margin-top: 40px;
    margin-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
}

#map .address h3 {
    font-weight: 500;
    margin-top: 20px;
}

#map .address p {
    margin-top: 10px;
    font-weight: 300;
    font-size: 1em;
}

#map .map_link iframe {
 width: 100%;
 height: 480px;
 margin-bottom: 50px;
}

/* 인사말 */

#greeting {
    width: 100%;
    height: 100vh;
    background-image: url(../img/sub_back_img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#greeting .meet {
    margin-top: 20%;
    text-align: center;
}

#greeting .meet h1 {
    color: #fff;
    text-align: center;
    font-size: 1.8em;
    font-weight: 500;
    margin-bottom: 80px;
}

#greeting .meet p {
    color: #fff;
    text-align: center;
    font-size: 1em;
    font-weight: 300;
} 

#greeting .meet .small {
    margin-top: 50px;
    font-size: 0.9em;
    font-weight: 100;
}

#greeting .meet .box {
    position: static;
    display: inline-block;
    background: #fff;
    /* left: 170px; top: 550px; */
    margin-top: 30px;
    left: 175px;
    width: 70px;
    height: 3px;
}

#greeting .meet .margin01 {
    margin-top: 30px;
    font-size: 1em;
    font-weight: 400;
}

#greeting .meet .margin02 {
    margin-top: 10px;
    font-weight: 100;
    font-size: 0.9em;
    font-family: 'Noto Sans KR', sans-serif;
}

/* 갤러리 */

#gallery {
    background: #fff;
}

#gallery #main {
    margin-bottom: 60px;
}

#gallery .header_box {
    display: none;
  }
  
  #gallery .gallery_header img {
    width: 100%;

  }
  
  #gallery .header_box {
    display: none;
  }
  
  #gallery #main figure {
    max-width: 1000px;
    /* outline: 2px solid red; */
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 20px;
  }
  
  #gallery #main figure img {
    width: 100%;
  }
  
  #gallery #main ul {
    /* outline: 2px solid green; */
    max-width: 1000px;
    margin: 0 auto;
    overflow: hidden;
  }
  
  #gallery #main ul li {
    width: calc(100% / 9);
    float: left;
    /* outline: 2px solid red; */
    border: 0.5px solid #e6e6e6;
    overflow: hidden;
  }
  
  #gallery #main ul li:hover {
    border: 3px solid #ff7878;
  }
  
  #gallery #main ul li a img {
    width: 100%;
    display: block;
  }

  /* 갤러리 모바일 목록 구성 */

@media screen and (max-width: 500px) {
    .clear { clear: both;}
    #gallery #main ul.thumb {
      overflow: hidden;
      width: 100%;
      margin-left: 20px;
    }
  #gallery #main ul.thumb li {
      width: calc((100% - 40px) / 3);
      float: left;
      /* outline: 2px solid red; */
      /* border: 1px solid #707070; */
      overflow: hidden;
    }
}

/* 연락처 */

#contact {
    background: #fff;
}

#contact .contact_header img {
    width: 100%;
}

#contact > section {
    text-align: center;
    margin-top: 30px;
}

#contact section ul li {
    display: inline-block;
}

#contact section ul li a img {
    width: 40px;
    margin: 10px;
    
}

#contact section .man_contact {
    position: absolute;
    left: 50px;
    /* outline: 1px solid red; */
    margin-top: 30px;
}

#contact section h4 {
    font-weight: 300;
}

#contact section h3 {
    font-weight: 400;
}

#contact section .girl_contact {
    position: absolute;
    right: 50px;
    /* outline: 2px solid red; */
    margin-top: 30px;
}

#contact .sharing {
    position: relative;
    top: 225px;
    /* outline: 2px solid green; */
}

#contact .sharing ul li a img {
    width: 40px;
}
